logs
node_modules
feature_ci
outputs/*
debug.log
package-lock.json
Backup/
reports/test_report.*
reports/*.*
Backup2/
result/SAAS*
src/storage-data/json-data-test-case/@*
data_regression_PROD/
features/insurance/feature_daily_smoke_testPROD
src/shared/tenant-setting/tenant-setting-objectPROD.json
src/shared/user-profile/user-profile-object.json
data_regression_varsam/
downloads/
GENERATE_SCRIPT.ts
GENERATE_STEPS.ts
@rerun.txt
features/parallel/*/*.*